
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutT.cshtml";
}

<!-- start banner Area -->
<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Misión
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("index","HomeT")">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("index","Mision")"> Misión</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start services Area -->
<section class="services-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Misión</h1>
                    <p>
                        Que las familias mexicanas se realicen al vestir y decorar su vida y su casa a su gusto y para eventos especiales con nuestras telas, mercería y manualidades de calidad a precios inigualables. Sirviéndolas con pasión y respeto a través de un equipo que se desarrolla, que lleva una vida plena y en armonía con su familia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

