
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutT.cshtml";
}

<section class="home-about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 home-about-left">
                <img class="img-fluid"alt="logo" src="~/img/Screenshot_2.png" />
            </div>
            <div class="col-lg-5 col-md-6 home-about-right">
                <h6>NOSOTROS</h6>
                <h1 class="text-uppercase">TELAS REGIONALES DEL SUR</h1>
                <p>
                    Desde hace 33 años la empresa ha estado en constante evolución, desde el primer cambio crucial en 1984, ya que a partir de esta fecha arrancamos un proceso de crecimiento firme y sostenido.

Hoy en día Telas Regionales del Sur suman 600 y están presentes en todos los estados de la República Mexicana, se han consolidado como líderes absolutos en la comercialización de telas para la confección, decoración y artículos de mercería
                </p>
            </div>

        </div>
       
    </div>
</section>